# Główne zależności
streamlit==1.32.2
psycopg2-binary==2.9.9
pandas==2.1.4
python-dotenv==1.0.0

# Przetwarzanie danych
numpy==1.26.3
scikit-learn==1.4.0

# Dane finansowe
yfinance==0.2.36
ta==0.11.0

# Analiza sentymentu
vaderSentiment==3.3.2

# Tylko zgodna wersja rich (wymagana przez streamlit)
rich==13.7.1
